USER_SERVICE_SECRET_KEY=replace-with-user-service-secret-key
USER_SERVICE_DEBUG=True
USER_SERVICE_ALLOWED_HOSTS=127.0.0.1,localhost

NOTIFICATION_SERVICE_SECRET_KEY=replace-with-notification-service-secret-key
NOTIFICATION_SERVICE_DEBUG=True
NOTIFICATION_SERVICE_ALLOWED_HOSTS=127.0.0.1,localhost

GATEWAY_HOST=127.0.0.1
GATEWAY_PORT=8000
USER_SERVICE_URL=http://127.0.0.1:8001
RATE_LIMIT_PER_MINUTE=60

JWT_SECRET_KEY=replace-with-shared-super-secret-jwt-key
JWT_ALGORITHM=HS256

NATS_URL=nats://127.0.0.1:4222
NATS_USER=app
NATS_PASSWORD=appsecret
